[Unit]
Description=kreel witness node
After=network.target
[Service]
User=kreel
Type=simple
ExecStart=/opt/kreel/bin/witness_node --data-dir=/opt/kreel/data/prod --enable-stale-production
Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=10s
StartLimitInterval=120s
StartLimitBurst=5
[Install]
WantedBy=multi-user.target